<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - assignment_chefs_n_dishes</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <header>
        <nav class="d-flex flex-column align-items-center">
            <div class="d-flex flex-column align-items-center py-3 w-50">
                <div class="btn-group w-50" role="group">
                    <a type="button" class="btn btn-success w-25" href="/chefs">All Chefs</a>
                    <a type="button" class="btn btn-primary w-25" href="/dishes">All Dishes</a>
                </div>
                <div class="btn-group w-50" role="group">
                    <a type="button" class="btn btn-outline-success w-25" href="/chefs/new">+ Chef</a>
                    <a type="button" class="btn btn-outline-primary w-25" href="/dishes/new">+ Dish</a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
